:root {
    --size: 8px;
    --foreground: #40e0d0;
    --background: #000000;
}

@supports (color: color(display-p3 0 0 0)) {
    :root {
        --foreground: color(display-p3 0.2 0.92 0.85);
    }
}

body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}
.innerCell {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 20px 2px rgba(198, 247, 255, 0.15);
}
.cell {
    width: var(--size);
    height: var(--size);
    background: var(--foreground);
    opacity: 0;
    position: relative;
}

.cell::before,
.cell::after {
    content: "";
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: 100% 100%;
    filter: blur(80px) brightness(80%) opacity(0.8);
    z-index: -1;
}
