:root {
    --size: 50px;
    --foreground: #40e0d0;
    --background: #000000;
}

body {
    background-color: black;
}

div[data-time] {
    --time: attr(data-time);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}
.innerCell {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 20px 2px rgba(198, 247, 255, 0.1);
}
.cell {
    width: var(--size);
    height: var(--size);
    background: var(--foreground);
    visibility: hidden;
    position: relative;
}

.cell::before,
.cell::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cell::before,
.cell::after {
    content: "";
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: 100% 100%;
    filter: blur(80px) brightness(80%) opacity(0.8);
    z-index: -1;
}

.cell-animation {
    visibility: visible;
    animation: fade-in 600ms ease-in forwards;
    animation-iteration-count: infinite;
}

@keyframes fade-in {
    from {
        background: var(--foreground);
    }

    to {
        background: var(--background);
    }
}
